@charset "utf-8";


  * {margin: 0; padding: 0; }
  #wrapper {margin: 0 auto; width: 1200px; }

  header {height: 200px; padding-top: 100px;}
  
  header .left {float: left;}
  header .left .header_title {margin-left: 50px; text-align: left;}

  header .right {float: right; }
  header ul {}
  header ul li {border-bottom: 1px solid #000000; width:80px; 
            list-style: none; display: inline-block; margin-right: 50px;}
  header ul li a { color: #3a3a3a; text-decoration:none; 
                    }
  header ul li a:hover { transition: 0.8s; color: blue; border-bottom-color: blue; text-decoration:none; 
    }
 

  #main { width:900px; height:auto; border: 1px solid gray;
         margin: 0 auto; text-align: center; padding: 150px 30px 0;}
  #main .main_left {}
  #main .main_right {height: 500px;}
  #main .main_right ul {}
  #main .main_right ul li {border: 1px solid gray; padding: 30px;
                list-style: none; display: inline-block; margin: 30px;}
  #main .main_right ul li a {color: #3a3a3a;}
  #main .main_right ul li a:hover  {color: blue; transition: 0.5s ;}

  footer { border-top: 1px solid #3a3a3a; margin-top: 100px; height: 150px;}
  footer .footer_txt {text-align: center; }
  footer .footer_txt ul {padding: 0; margin:30px auto;}
  footer .footer_txt ul li {text-align: left; display: inline-block; margin: 50px 100px;
                            }
  footer .footer_txt ul li a { color: #3a3a3a;}
  footer .footer_txt ul li a:hover{ color: blue;}
  footer .footer_txt ul li img {width: 30px; height: 30px; text-align: center;}

